#a1{
    font-family: fantasy;
    font-size: 50px;
    color: red;
    margin-top: -10px;margin-left: 550px;
}

#a3{
    font-family: fantasy;
    width: 250px;
    height: 60px;
    font-size: 20px;
    border-radius: 30px;
    background-color: #90ddf0;
    margin-left: 50px;
}
#a4{
    font-family: fantasy;
    width: 250px;
    height: 60px;
    font-size: 20px;
    border-radius: 30px;
    background-color: #90ddf0;
    margin-left: 50px;margin-top: 30px;
}
#a5{
    font-family: fantasy;
    width: 250px;
    height: 60px;
    font-size: 20px;
    border-radius: 30px;
    background-color: #90ddf0;
    margin-left: 600px;
}
#a6{
    font-family: fantasy;
    width: 250px;
    height: 60px;
    font-size: 20px;
    border-radius: 30px;
    background-color: #90ddf0;margin-left: 600px;
}
#a7{
    font-family: fantasy;
    width: 250px;
    height: 60px;
    font-size: 20px;
    border-radius: 30px;
    background-color: #90ddf0;margin-left: 600px;
}
#a8{
    font-family: fantasy;
    width: 250px;
    height: 60px;
    font-size: 20px;
    border-radius: 30px;
    background-color: #90ddf0;margin-left: 50px;margin-top: 30px;
}
#a9{
    font-family: fantasy;
    width: 250px;
    height: 60px;
    font-size: 20px;
    border-radius: 30px;
    background-color: #90ddf0;margin-left: 50px;margin-top: 30px;
}
#a10{
    font-family: fantasy;
    width: 250px;
    height: 60px;
    font-size: 20px;
    border-radius: 30px;
    background-color: #90ddf0;margin-left: 600px;
}
#a11{
    font-family: fantasy;
    width: 250px;
    height: 60px;
    font-size: 20px;
    border-radius: 30px;
    background-color: #90ddf0;margin-left: 50px;margin-top: 30px;
}
#a12{
    font-family: fantasy;
    width: 250px;
    height: 60px;
    font-size: 20px;
    border-radius: 30px;
    background-color: #90ddf0;margin-left: 600px;
}
#a13{
    font-family: fantasy;
    width: 250px;
    height: 60px;
    font-size: 20px;
    border-radius: 30px;
    background-color: #90ddf0;margin-left: 50px;
}
#a14{
    font-family: fantasy;
    width: 250px;
    height: 60px;
    font-size: 20px;
    border-radius: 30px;
    background-color: #90ddf0;margin-top: 30px;margin-left: 600px;
}
#a16{
    font-family: fantasy;
    width: 250px;
    height: 60px;
    font-size: 20px;
    border-radius: 30px;
    background-color: #90ddf0;margin-left: 50px;margin-top: 30px;
}
#a15{
    font-family: fantasy;
    font-size: 30px;
    color: red;
    margin-left: 450px;margin-top: -30px;
}
#a2{
    margin-left: 350px;
    margin-top: -500px;
}
#b2{
    font-family: fantasy;
    font-size: 30px;
    color: red;
    margin-left: 50px;margin-top: 60px;
}